*{
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

.strap{
    background-color: #ff69b4;
    color: #f8f8f8;
    padding: 24px;
    text-align: center;
    font-weight: 900;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #f9dce9;
    padding: 12px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: #ff69b4;
    font-weight: 900;
}

nav a:hover{
    color: #7f355a;
}

#blog-title{
    font-size: 64px;
    font-weight: 900;
    color: #ff69b4;
    background: #f8f8f8;
    text-align: center;
}

main{
    background: #f8f8f8;
}

