.card {
    background: #f5f5be;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.card h5 {
    width: 100%;
    height: auto;
    color: #ff69b4;
    font-weight: 500;
    font-size: 1rem;
}

.card h3 {
    width: 100%;
    height: auto;
    color: #333333;
    font-weight: 800;
    font-size: 1.7rem;
}

.card p {
    width: 100%;
    height: auto;
    padding-top: 1.2rem;
}

.card a {
    text-decoration: none;
    font-weight: 900;
    color: #f8f8f8;
}

.card button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ff69b4;
    background: #ff69b4;
    color: #f8f8f8;
    font-weight: 900;
    margin: 1rem 0.5rem;
}

.card button:hover {
    background: #7f355a;
    color: #f8f8f8;
}

.card img {
    width: 100%; /* Set fixed width */
    height: 150px; /* Set fixed height */
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-top: 1rem;
    position: relative;
}

.card figcaption {
    color: #7f355a;
}

