.intro strong {
    font-weight: bold; /* Makes the word 'imagination' bold */
    color: #c6c676;
}

.intro em {
    font-style: italic; /* Italicizes 'Dive into my musings' */
    color: #eaad71;
}

.intro u {
    text-decoration: underline; /* Underlines 'dreams with reality' */
}

.intro span {
    color: #ff6699; /* Adds a custom color to 'Scroll down to explore' */
}

.intro {
    font-size: 1rem;
    color: #333333;
    text-align: center;
    padding: 1rem;
    font-weight: 900;
    margin: 0 16rem; /* Combine margin-left and margin-right */
    line-height: 1.5; /* Increase line height for better readability */
}

@media (max-width: 900px) {
    .intro {
        margin: 0 1rem; /* Adjust margins for smaller screens */
        font-size: 0.9rem; /* Optionally reduce font size for better fit */
    }
}