@import "header_style.css";
@import "subscribe_style.css";
@import "card_style.css";
@import "intro_style.css";
@import "footer_style.css";

* {
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

#background-img {
    width: 100%;
    height: auto;
}

#blog-title {
    font-size: 3rem;
    font-weight: 900;
    color: #ff69b4;
    background: #f8f8f8;
    text-align: center;
}

main {
    background: #f8f8f8;
}

.container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    gap: 0.75rem 0.1rem;
    padding: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

@media (max-width: 900px) {
    .container {
        display: grid; /* Keep the display as grid */
        grid-template-columns: 100%; /* Change to one column */
        grid-template-rows: auto; /* Allow rows to adjust based on content */
    }
}